.gitbkup
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
config.yml
/.idea
.ruby-version
data.mdb
lock.mdb
socialkit-0.0.1.gem
.DS_Store
truth_config.yml
